/* predisposizione generale */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  /* intero contenitore */
  .contenitore{
  }
  /* blocchi */
  .blocco{
    height: 50%;
    width: 100%;

  }
  /* oggetti */
  .oggetto{
    position: relative;
    border:solid 2px black;
    margin: 20px;
    display: inline-block;
    height: 100%;
    width: 30%;

  }
  /* immagini */
  img{
    height: 400px;
    width: 100%;
  }
  /* sconti */
  .sconto{

  }
  /* cuore */
  .cuore{
    font-size: 3em;
    position:absolute;
    bottom: 0;
    right: 50%;
    display: none;
  }

  .oggetto:hover .cuore{
    display: block;
  }
