/* predisposizione generale */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  /* intero contenitore */
  .contenitore{
    border:solid 2px black;
  }
  /* blocchi */
  .blocco{
    border:solid 2px black;
    height: 50%;
    width: 100%;

  }
  /* oggetti */
  .oggetto{
    border:solid 2px black;
    margin: 20px;
    display: inline-block;
    height: 100%;
    width: 30%;

  }
  /* immagini */
  img{
    height: 400px;
    width: 100%;
  }
  /* sconti */
  .sconto{

  }
  /* cuore */
  .cuore{

  }
