/* predisposizione generale */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  /* intero contenitore */
  .contenitore{

  }
  /* blocchi */
  .blocco{

  }
  /* oggetti */
  .oggetto{

  }
  /* sconti */
  .sconto{

  }
  /* cuore */
  .cuore{

  }
